<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nju.com.piece" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    <activity
            android:name=".TestMPChartActivity"
            android:label="@string/title_activity_test_mpchart" >
        </activity>
        <activity
            android:name=".TotalStatisticActivity"
            android:label="@string/title_activity_total_statistic" >
        </activity>
        <activity
            android:name=".NewTagActivity"
            android:label="@string/title_activity_new_tag" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TaskActivity"
            android:label="TaskActivity" >
        </activity>
        <activity
            android:name=".activity.TimeLineActivity"
            android:label="@string/title_activity_time_line" >
        </activity>

        <service android:name=".logic.tasktiming.TaskService" >
        </service>

        <activity
            android:name=".activity.SetActivity"
            android:label="@string/title_activity_set" >
        </activity>

    </application>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"> </uses-permission>

    <uses-permission android:name="android.permission.GET_TASKS"> </uses-permission>

    <uses-permission android:name="android.permission.VIBRATE"> </uses-permission>

    <uses-permission android:name="android.permission.INTERNET"> </uses-permission>
</manifest>
